In [1]:
a=23.45
int(a)

23

In [2]:
int("23.45")

ValueError: invalid literal for int() with base 10: '23.45'

In [3]:
int("1234")

1234

In [4]:
b=int("123")
print type(b)

<type 'int'>

In [5]:
a="123"
b=int(a)
print type(a)
print type(b)
print a
print b

<type 'str'>
<type 'int'>
123
123

In [6]:
a="12.34"
print int(a)

ValueError: invalid literal for int() with base 10: '12.34'

In [7]:
int(23.45)

23

In [8]:
int?

In [9]:
print int()

0

In [10]:
int(23.45)

23

In [11]:
int("23.45",base=12)

ValueError: invalid literal for int() with base 12: '23.45'

In [12]:
a='23.456'
b=float(a)
print b, type(b)
c=int(b)
print c, type(c)

23.456 <type 'float'>
23 <type 'int'>

In [13]:
a="12ab"
print int(a)

ValueError: invalid literal for int() with base 10: '12ab'

In [14]:
a="12ab"
print 11*12**0+10*12**1+2*12**2+1*12**3
print int(a,12)

2147
2147

In [15]:
name="Anil"
a=name
b="name"
print a
print b

Anil
name

In [16]:
a=python
print a

NameError: name 'python' is not defined

In [17]:
a="python"

In [18]:
a=b1

NameError: name 'b1' is not defined

In [19]:
b1=10
a=b1

In [20]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name,"Age:",age,"Height:",height

Name: Anil Age: 23 Height: 5.6

In [21]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name,", Age:",age,", Height:",height

Name: Anil , Age: 23 , Height: 5.6

In [22]:
print "Name:",name

Name: Anil

In [23]:
print "Name:"+name

Name:Anil

In [24]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age:23, Height: 5.6
print "Name:",name+", Age:",age,", Height:",height

Name: Anil, Age: 23 , Height: 5.6

In [ ]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",age+", Height:",height

In [25]:
a="12"
print a+"value"

12value

In [26]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
print "Name:",name+", Age:",age+", Height:",height

Name: Anil, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
'''

'''
print "Name:",name+", Age:",str(age)+", Height:",height

 Name: Anil, Age: 23, Height: 5.6

In [29]:
print "line1"
print "line2"

line1
line2

In [30]:
print "line1\nline2"

line1
line2

In [31]:
print "line1\tline2"

line1	line2

In [32]:
# it's hot day
print "it's hot day"

it's hot day

In [33]:
# it's hot day
print 'it's hot day'

SyntaxError: invalid syntax (<ipython-input-33-66cb6f52ebb0>, line 2)

In [34]:
# it's hot day
print 'it\'s hot day'

it's hot day

In [35]:
# it's "hot" day
print 'it\'s "hot" day'

it's "hot" day

In [36]:
# it's "hot" day
print "it's \"hot\" day"

it's "hot" day

In [37]:
print "line1\nline2"

line1
line2

In [38]:
print "line1\\nline2"

line1\nline2

In [41]:
s=r"sdfsfsd\nsdfsd\tsdfsdf\nsfdfsd\tsdfsdfn\tdsfsd\ndsf\t"

In [42]:
print s

sdfsfsd\nsdfsd\tsdfsdf\nsfdfsd\tsdfsdfn\tdsfsd\ndsf\t

In [43]:
s="sdfsfsd\nsdfsd\tsdfsdf\nsfdfsd\tsdfsdfn\tdsfsd\ndsf\t"
print r"s

SyntaxError: EOL while scanning string literal (<ipython-input-43-c36dccad94eb>, line 2)

In [44]:
a=23.45
b=int(a)
print "the value of product:"+str(b)

the value of product:23

In [45]:
# %d %s %r %x %X, %o, %O %f
print "%d"

%d

In [46]:
print "%d",23.45

%d 23.45

In [47]:
print "%d"%23.45

23

In [48]:
a=23.45
print "the value of product:%d"%a

the value of product:23

In [49]:
a=1234
print "hexa decimal value: %x"%a
print "octal  value: %o"%a

hexa decimal value: 4d2
octal  value: 2322

In [50]:
a=1234
print "hexa decimal value: %X"%a
print "octal  value: %o"%a

hexa decimal value: 4D2
octal  value: 2322

In [51]:
a=23.456789

In [52]:
float?

In [53]:
print "%f"%a

23.456789

In [54]:
print "%.2f"%a

23.46

In [55]:
s123="sdfsfsd\nsdfsd\tsdfsdf\nsfdfsd\tsdfsdfn\tdsfsd\ndsf\t"
print "%s"%s123

sdfsfsd
sdfsd	sdfsdf
sfdfsd	sdfsdfn	dsfsd
dsf

In [56]:
s123="sdfsfsd\nsdfsd\tsdfsdf\nsfdfsd\tsdfsdfn\tdsfsd\ndsf\t"
print "%r"%s123

'sdfsfsd\nsdfsd\tsdfsdf\nsfdfsd\tsdfsdfn\tdsfsd\ndsf\t'

In [57]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
'''

'''
print "Name:",name+", Age:",str(age)+", Height:",height
print "Name: %s, Age: %s, Height: %s"%(name,age,height)

Name: Anil, Age: 23, Height: 5.6
Name: Anil, Age: 23, Height: 5.6

In [58]:
name="Anil"
age=23
height=5.6
# Name: Anil, Age: 23, Height: 5.6
'''

'''
print "Name:",name+", Age:",str(age)+", Height:",height
print "Name: %s, Age: %s, Height: %s"%(age,height,name)

Name: Anil, Age: 23, Height: 5.6
Name: 23, Age: 5.6, Height: Anil

In [59]:
a=23.45
print "%d"%a

23

In [60]:
a="23.45"
print "%d"%a

TypeError: %d format: a number is required, not str

In [61]:
a="23"
print "%d"%a

TypeError: %d format: a number is required, not str

In [62]:
a=10
print "product cost:"+a

TypeError: cannot concatenate 'str' and 'int' objects

In [63]:
a=10
print "product cost:"+str(a)

product cost:10

In [64]:
a=10
print "product cost:%d"%a

product cost:10

In [65]:
a=10.23
print "product cost:%d"%a

product cost:10

In [66]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:12
Enter b value:12
12 <type 'str'>
12 <type 'int'>

In [67]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:python
Enter b value:"12"
python <type 'str'>
12 <type 'str'>

In [68]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:[1,2,3]
Enter b value:[1,2,3]
[1,2,3] <type 'str'>
[1, 2, 3] <type 'list'>

In [69]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:(1,2,3)
Enter b value:(1,2,3)
(1,2,3) <type 'str'>
(1, 2, 3) <type 'tuple'>

In [70]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:python
Enter b value:python

NameError: name 'python' is not defined

In [71]:
a=python

NameError: name 'python' is not defined

In [72]:
a="python"

In [73]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a, type(a)
print b, type(b)

Enter a value:python
Enter b value:"python"
python <type 'str'>
python <type 'str'>

In [74]:
a=10
b=010
print a
print b

10
8

In [75]:
a="0xab"
print a

0xab

In [76]:
a=0xab
print a

171

In [77]:
print 0o89

SyntaxError: invalid token (<ipython-input-77-fd6b51541505>, line 1)

In [78]:
print 0o23

19

In [79]:
print 0b0101

5

In [80]:
pritn 0b234

SyntaxError: invalid token (<ipython-input-80-96a2091164eb>, line 1)

In [81]:
print 010

8