In [ ]:
"""
Data base migration:
1. migrate
2. configure the migration.
"""
"""
library management system:
1.register
2. login
    a. suggest book
    b. search for a book
    c. Issue a book
    d. return a book
3.reports
    a. how many books
    b. how many books are issued
    c. Total books
    d. pending books
    
"""
"""
Medical app:
    1.register
    2.login
        a. select sysmptoms and suggest medicines
        
        b. 
"""
"""
Hospitalization:

"""

In [1]:
import sqlite3
con = sqlite3.connect('db1.db')

In [2]:
cur= con.cursor()

In [3]:
cur.execute('create table books(id int, name varchar(250))')

In [5]:
cur.execute("insert into books values(1,'learning python edition5')")

In [6]:
cur.close()

In [7]:
con.close()

In [8]:
cur.execute('create table books(id int, name varchar(250))')

ProgrammingError: Cannot operate on a closed cursor.

In [10]:
import sqlite3
con = sqlite3.connect('db1.db')
cur=con.cursor()
cur.execute("insert into books values(1,'learning python edition5')")
con.commit()

In [11]:
cur.close()

In [12]:
con.close()

In [13]:
import sqlite3
con = sqlite3.connect('db1.db')
cur=con.cursor()
cur.execute("update books set name='learning python edition6' where id=1")
con.commit()

In [14]:
cur.execute("delete from books where id=1")
con.commit()

In [19]:
books=[{'id':1,'name':'name1'},
       {'id':2,'name':'name2'},
       {'id':3,'name':'name3'},
       {'id':4,'name':'name4'},
       {'id':5,'name':'name5'},
      ]
query = "insert into books values(%s, '%s')"%(books[0].get('id'),books[0].get('name'))
cur.execute(query)
con.commit()

In [17]:
books=[{'id':1,'name':'name1'},
       {'id':2,'name':'name2'},
       {'id':3,'name':'name3'},
       {'id':4,'name':'name4'},
       {'id':5,'name':'name5'},
      ]
print books[0].values()

[1, 'name1']

In [20]:
books=[
       {'id':2,'name':'name2'},
       {'id':3,'name':'name3'},
       {'id':4,'name':'name4'},
       {'id':5,'name':'name5'},
      ]
for book in books:
    print book

{'id': 2, 'name': 'name2'}
{'id': 3, 'name': 'name3'}
{'id': 4, 'name': 'name4'}
{'id': 5, 'name': 'name5'}

In [21]:
books=[
       {'id':2,'name':'name2'},
       {'id':3,'name':'name3'},
       {'id':4,'name':'name4'},
       {'id':5,'name':'name5'},
      ]
for book in books:
    print book.get('id'),book.get('name')

2 name2
3 name3
4 name4
5 name5

In [22]:
books=[
       {'id':2,'name':'name2'},
       {'id':3,'name':'name3'},
       {'id':4,'name':'name4'},
       {'id':5,'name':'name5'},
      ]
for book in books:
    query = "insert into books values(%s, '%s')"%(book.get('id'),book.get('name'))
    cur.execute(query)
con.commit()

In [24]:
book_id=raw_input("Enter id of the book:")
book_name=raw_input("Enter name of the book:")
query = "insert into books values(%s, '%s')"%(book_id,book_name)
cur.execute(query)
con.commit()

Enter id of the book:6
Enter name of the book:name6

In [25]:
data = cur.execute("select * from books")

In [26]:
print data

<sqlite3.Cursor object at 0x7fc65c19c3b0>

In [27]:
cur.fetchall()

[(1, u'name1'),
 (2, u'name2'),
 (3, u'name3'),
 (4, u'name4'),
 (5, u'name5'),
 (6, u'name6')]

In [28]:
cur.fetchall()

[]

In [29]:
data = cur.execute("select * from books")
print cur.fetchone()

(1, u'name1')

In [30]:
cur.fetchone()

(2, u'name2')

In [31]:
book_id=raw_input("Enter book id:")
cur.execute("select * from books")
data = cur.fetchall()
for row in data:
    print row

Enter book id:1
(1, u'name1')
(2, u'name2')
(3, u'name3')
(4, u'name4')
(5, u'name5')
(6, u'name6')

In [32]:
book_id=raw_input("Enter book id:")
cur.execute("select * from books")
data = cur.fetchall()
for row in data:
    print row[0]

Enter book id:1
1
2
3
4
5
6

In [34]:
book_id=raw_input("Enter book id:")
cur.execute("select * from books")
data = cur.fetchall()
for row in data:
    if str(row[0])==book_id:
        print row

Enter book id:1
(1, u'name1')

In [36]:
book_id=raw_input("Enter book id:")
cur.execute("select * from books")
data = cur.fetchall()
for row in data:
    if str(row[0])==book_id:
        print "bookinbformation:\n book_id:%s, book_name:%s"%(row[0],row[1])

Enter book id:3
bookinbformation:
 book_id:3, book_name:name3

In [41]:
book_id=raw_input("Enter book id:")
query="select * from books where id=%s"%book_id
print "query=",query
cur.execute(query)
data = cur.fetchone()
print data
print "bookinbformation:\n book_id:%s, book_name:%s"%(data[0],data[1])

Enter book id:3
query= select * from books where id=3
(3, u'name3')
bookinbformation:
 book_id:3, book_name:name3

In [42]:
book_id=raw_input("Enter book id:")
query="select * from books where id=%s"%book_id
print "query=",query
cur.execute(query)
data = cur.fetchone()
print data
print "bookinbformation:\n book_id:%s, book_name:%s"%(data[0],data[1])

Enter book id:10
query= select * from books where id=10
None

TypeError: 'NoneType' object has no attribute '__getitem__'

In [43]:
book_id=raw_input("Enter book id:")
query="select * from books where id=%s"%book_id
print "query=",query
cur.execute(query)
data = cur.fetchone()
if data:
    print "bookinbformation:\n book_id:%s, book_name:%s"%(data[0],data[1]) 
else:
    print "no Books found"

Enter book id:10
query= select * from books where id=10
no Books found