In [1]:
s1="python"
s2="program"
s3=s1
s4="python"
print s1,s3,s4
print id(s1),id(s3),id(s4)

python python python
139936187280192 139936187280192 139936187280192

In [2]:
s1="python "
s2="program"
s3=s1
s4="python "
print s1,s3,s4
print id(s1),id(s3),id(s4)

python  python  python
139935957606832 139935957606832 139935957606544

In [3]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=l1
l4=[1,2,3,4]
print id(l1),id(l3)
print id(l4)

139936127215376 139936127215376
139936127215088

In [4]:
a=10
a=20

In [5]:
print a

20

In [6]:
a=10
a=a+20
print a

30

In [8]:
l=[1,2,3,4]
print id(l),l
l.append(10)
print id(l),l

139935957427552 [1, 2, 3, 4]
139935957427552 [1, 2, 3, 4, 10]

In [9]:
l1=[1,2,3,4]
l2=l1
l3=[1,2,3,4]
l1.append(10)
print l1
print l2
print l3

[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]
[1, 2, 3, 4]

In [10]:
l1=[1,2,3,4]
l2=l1
l3=[1,2,3,4]
l1=[1,2,3,4]
l1.append(10)
print l1
print l2
print l3

[1, 2, 3, 4, 10]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [11]:
a=10
a=a+20
s1="python"
s2=s1.replace('p','z')
print s2
print s1

zython
python

In [12]:
s1="python"
s2=s1.replace('p','z')
print s2
print s1

zython
python

In [14]:
s1="python"
s2=s1
s3=s1.replace('p','z')
print s1
print s2
print s3

python
python
zython