In [1]:
def add(a,b):
    c=a+b
    d=a+b+100
    return c
def mul(a,b):
    c=a*b
    d=a*b+100
    return c
print add(10,20)
print mul(10,20)

30
200

In [2]:
class ClassName:
    pass

In [4]:
class Emp:
    def sal_cal():
        pass
    def leav():
        pass
    def attendance():
        pass
    def timesheet():
        pass

In [5]:
class Emp:
    company_name="Tcloud"
Emp.company_name

'Tcloud'

In [6]:
class Emp:
    company_name="Tcloud"
print Emp.company_name

Tcloud

In [7]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(sal):
        print "sal calculation"
        return sal+sal*(sal_inc_per/100)

print Emp.company_name
print Emp.sal_calc(10000)

Tcloud

TypeError: unbound method sal_calc() must be called with Emp instance as first argument (got int instance instead)

In [8]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(inst, sal):
        print "sal calculation"
        return sal+sal*(sal_inc_per/100)

print Emp.company_name
samba = Emp()
print Emp.sal_calc(samba,10000)

Tcloud
sal calculation

NameError: global name 'sal_inc_per' is not defined

In [10]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(inst, sal):
        print "sal calculation"
        return sal+sal*(inst.sal_inc_per/100.0)

print Emp.company_name
samba = Emp()
print Emp.sal_calc(samba,10000)

Tcloud
sal calculation
11000.0

In [12]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(inst):
        print "sal calculation"
        print inst.name
        print inst.sal
        print inst.id
        return inst.sal+inst.sal*(inst.sal_inc_per/100.0)
    def get_emp(inst):
        pass

print Emp.company_name
samba = Emp()
samba.name="samba"
samba.sal=10000
samba.id=123
print Emp.sal_calc(samba)

Tcloud
sal calculation
samba
10000
123
11000.0

In [13]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(inst):
        print "sal calculation"
        print inst.name
        print inst.sal
        print inst.id
        return inst.sal+inst.sal*(inst.sal_inc_per/100.0)
    def get_emp(inst):
        return inst.name, inst.sal, inst.id

print Emp.company_name
samba = Emp()
samba.name="samba"
samba.sal=10000
samba.id=123
santhosh = Emp()
santhosh.name="santhosh"
santhosh.sal=10000
santhosh.id=122
print Emp.sal_calc(samba)
print Emp.sal_calc(santhosh)
print Emp.get_emp(samba)
print Emp.get_emp(santhosh)

Tcloud
sal calculation
samba
10000
123
11000.0
sal calculation
santhosh
10000
122
11000.0
('samba', 10000, 123)
('santhosh', 10000, 122)

In [14]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(inst):
        print "sal calculation"
        print inst.name
        print inst.sal
        print inst.id
        return inst.sal+inst.sal*(inst.sal_inc_per/100.0)
    def get_emp(inst):
        return inst.name, inst.sal, inst.id

print Emp.company_name
samba = Emp()
samba.name="samba"
samba.sal=10000
samba.id=123
santhosh = Emp()
santhosh.name="santhosh"
santhosh.sal=10000
santhosh.id=122
print samba.sal_calc()
print santhosh.sal_calc()
print samba.get_emp()
print santhosh.get_emp()

Tcloud
sal calculation
samba
10000
123
11000.0
sal calculation
santhosh
10000
122
11000.0
('samba', 10000, 123)
('santhosh', 10000, 122)

In [15]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def sal_calc(self):
        print "sal calculation"
        print self.name
        print self.sal
        print self.id
        return self.sal+self.sal*(self.sal_inc_per/100.0)
    def get_emp(self):
        return self.name, self.sal, self.id

print Emp.company_name
samba = Emp()
samba.name="samba"
samba.sal=10000
samba.id=123
santhosh = Emp()
santhosh.name="santhosh"
santhosh.sal=10000
santhosh.id=122
print samba.sal_calc()
print santhosh.sal_calc()
print samba.get_emp()
print santhosh.get_emp()

Tcloud
sal calculation
samba
10000
123
11000.0
sal calculation
santhosh
10000
122
11000.0
('samba', 10000, 123)
('santhosh', 10000, 122)

In [16]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def set_emp(self, name, sal, e_id):
        self.sal=sal
        self.name=name
        self.id=e_id
    def sal_calc(self):
        return self.sal+self.sal*(self.sal_inc_per/100.0)
    def get_emp(self):
        return self.name, self.sal, self.id

print Emp.company_name
samba = Emp()
Emp.set_emp(samba, 'samba', 10000, 123)
santhosh = Emp()
santhosh.set_emp('santhosh',10000,124)
print samba.sal_calc()
print santhosh.sal_calc()
print samba.get_emp()
print santhosh.get_emp()

Tcloud
11000.0
11000.0
('samba', 10000, 123)
('santhosh', 10000, 124)

In [17]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def set_emp(self, name, sal, e_id):
        self.sal=sal
        self.name=name
        self.id=e_id
    def sal_calc(self):
        return self.sal+self.sal*(self.sal_inc_per/100.0)
    def get_emp(self):
        return self.name, self.sal, self.id

print Emp.company_name
samba = Emp()
Emp.set_emp(samba, 'samba', 10000, 123)
santhosh = Emp()
santhosh.set_emp('santhosh',20000,124)
pradeep = Emp()
print samba.sal_calc()
print santhosh.sal_calc()
print samba.get_emp()
print santhosh.get_emp()
print pradeep.sal_calc()

Tcloud
11000.0
22000.0
('samba', 10000, 123)
('santhosh', 20000, 124)

AttributeError: Emp instance has no attribute 'sal'

In [18]:
class Emp:
    company_name="Tcloud"
    sal_inc_per=10
    def set_emp(self, name, sal, e_id):
        self.sal=sal
        self.name=name
        self.id=e_id
    def sal_calc(self):
        return self.sal+self.sal*(self.sal_inc_per/100.0)
    def get_emp(self):
        return self.name, self.sal, self.id

print Emp.company_name
samba = Emp()
Emp.set_emp(samba, 'samba', 10000, 123)
santhosh = Emp()
santhosh.set_emp('santhosh',20000,124)
pradeep = Emp()
print samba.sal_calc()
print santhosh.sal_calc()
print samba.get_emp()
print santhosh.get_emp()
pradeep.set_emp("pradeep",15000,125)
print pradeep.sal_calc()

Tcloud
11000.0
22000.0
('samba', 10000, 123)
('santhosh', 20000, 124)
16500.0

In [19]:
class Emp:
    def __init__(self):
        print "constructor"
        
    def set_emp(self):
        print "set emp details"
        
samba = Emp()

constructor

In [20]:
class Emp:
    def __init__(self, name, sal, e_id):
        self.sal=sal
        self.name=name
        self.id=e_id
        
    def set_emp(self):
        print "set emp details"
        
samba = Emp()

TypeError: __init__() takes exactly 4 arguments (1 given)

In [21]:
class Emp:
    def __init__(self, name, sal, e_id):
        self.sal=sal
        self.name=name
        self.id=e_id
    def get(self):
        return self.name, self.sal, self.id
        
samba = Emp('samba',10000,123)
santhosh=Emp("santhosh",20000,122)
pradeep = Emp("Pradeep",12000,124)
print pradeep.get()

('Pradeep', 12000, 124)

In [22]:
class Emp:
    def set_emp(self, name, sal, e_id):
        self.sal=sal
        self.name=name
        self.id=e_id
    def get(self):
        return self.name, self.sal, self.id
        
samba = Emp('samba',10000,123)
santhosh=Emp("santhosh",20000,122)
pradeep = Emp("Pradeep",12000,124)
print pradeep.get()

TypeError: this constructor takes no arguments

In [23]:
l=[1,2,3,4]
l.append(10)